<style>

@config "./tailwindcss-config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding-bottom:60px;
}

/* Style the header */
.header {
  background-color: #00214d;
  color: #FFFFFF;
  padding: 16px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .header
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #2563EB;
}

/* Style the topnav links */
/* Padding - first variable is the height */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width: 600px) {
  .topnav
}

/* Two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left column */
.column.side {
  width: 20%;
}

/* Change color on hover */
.column.side a:hover {
  background-color: #ddd;
  color: black;
}

/* Right column */
.column.right {
  width: 80%;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.right {
    width: 100%;
  }
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
.footer {
  position:fixed;
  bottom:0;
  padding-left: 315px;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .footer {
    width: 100%;
  }
}

.listnav {
  color: #166534;
  padding-bottom: 0.75em;
  margin-left: 700px;
  font-size: 1rem;
}

/* Change color on hover */
.listnav a:hover {
  font-weight: 700;
  color: #FFFFFF;
  background-color: black;
}

/* Highlight active page on navigation bar with black background */
.activepage {
  font-weight: 700;
  color: #FFFFFF;
  background-color: black;
}

/* Responsive layout */
@media screen and (max-width: 600px) {
  .listnav {
    width: 100%;
  }
}

.pagetitle {
  padding-bottom: 0.5rem; /* 8px */
  font-size: 1.5rem; /* 24px */
  line-height: 2rem; /* 32px */
  font-weight: 700;
}  

.welcomemsg {
  font-size: 1.125rem; /* 18px */
  line-height: 1.75rem; /* 28px */
  font-weight: 700;
}

.messageline {
  padding-bottom: 0.5rem; /* 8px */
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  color: #ef4444;
  font-style: italic;
}
  
.fieldlabel {
  margin-bottom: 0.5rem; /* 8px */
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  font-weight: 500;
  color: #111827;
}

.textfield {
  padding-inline-start: 0.25rem; /* 4px */
  background-color: #f9fafb;
  border-width: 1px;
  border-color: #9CA3AF;
  color: #111827;
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  border-radius: 0.5rem; /* 8px */
  outline-color: #3b82f6;
  width: 12rem; /* 320px */
  padding: 0.625rem; /* 10px */
  }
  
BUTTON.regularbutton {
  width: 6rem;
  height: 2.6rem;
  outline-width: 0px;
  color: #ffffff;
  background-color: #2563EB;
  font-weight: 500;
  text-align: center;
  border-radius: 0.5rem; /* 8px */
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  padding-left: 1.0rem; /* 20px */
  padding-right: 1.0rem; /* 20px */
  padding-top: 0.625rem; /* 10px */
  padding-bottom: 0.625rem; /* 10px */
  margin-right: 0.5rem; /* 8px */
  margin-bottom: 0.5rem; /* 8px */
  justify-content: center;
}
  
BUTTON.regularbutton:hover {
  background-color: #1e3a8a;
}

BUTTON.createbutton {
  width: 6rem;
  height: 2.6rem;
  outline-width: 0px;
  color: #ffffff;
  background-color: #c53030;
  font-weight: 500;
  text-align: center;
  border-radius: 0.5rem; /* 8px */
  font-size: 0.875rem; /* 14px */
  line-height: 1.25rem; /* 20px */
  padding-left: 1.0rem; /* 20px */
  padding-right: 1.0rem; /* 20px */
  padding-top: 0.625rem; /* 10px */
  padding-bottom: 0.625rem; /* 10px */
  margin-right: 0.5rem; /* 8px */
  margin-bottom: 0.5rem; /* 8px */
  justify-content: center;
}
  
BUTTON.createbutton:hover {
  background-color: #9b2c2c;
}
  

/* Centre text on customised buttons */
.flex {
  display: flex;
  justify-content: center;
}

/* Rounded */
.rounded {
    border-radius: 15px;
}

/* Float image right aligned */
.hp  {
float: right;    
 margin: 0 0 0 15px;
}

/* List style for side menu */
ul {
  list-style-type: none;
  margin: 30px;
  padding: 0;
}

li a {
  display: block;
  width: 200px;
}

</style>